version: '2'
services:

    arches:
      image: globaldigitalheritage/arches-3d:${IMAGE_VERSION}
      restart: ${RESTART}
      command: run_arches
      volumes:
        - arches-log:/web_root/arches_3d/arches_3d/logs
        - arches-static:/static_root
      environment:
        - ARCHES_PROJECT=arches_3d
        - INSTALL_DEFAULT_GRAPHS=False
        - INSTALL_DEFAULT_CONCEPTS=False
        - PGUSERNAME=${PGUSERNAME}
        - PGPASSWORD=${PGPASSWORD}
        - PGDBNAME=arches
        - PGHOST=${PGHOST}
        - PGPORT=5432
        - COUCHDB_HOST=couchdb
        - COUCHDB_PORT=5984
        - COUCHDB_USER=example
        - COUCHDB_PASS=example
        - ESHOST=${ESHOST}
        - ESPORT=9200
        - ELASTICSEARCH_PREFIX=arches_3d
        - DJANGO_MODE=PROD
        - DJANGO_DEBUG=False
        - AZURE_ACCOUNT_NAME=${AZURE_ACCOUNT_NAME}
        - AZURE_ACCOUNT_KEY=${AZURE_ACCOUNT_KEY}
        - AZURE_SSL=False
        - STATIC_URL=${STATIC_URL}
        - MEDIA_URL=${MEDIA_URL}
        - DOMAIN_NAMES=${DOMAIN_NAMES}
        - GUNICORN_WORKER_TIMEOUT=28800
        - PYTHONUNBUFFERED=0
        - TZ=EST
      ports:
        - '8000:8000'

    nginx:
      image: vmeijer/nginx-proxy:1.3.1.3
      restart: always
      ports:
        - '80:80'
        - '443:443'
      volumes:
        - arches-static:/www/static
        - letsencrypt-acme-challenge:/var/www
        - letsencrypt:/etc/letsencrypt
      environment:
        - NGINX_PROXY_MODE=local
        - NGINX_PROTOCOL=strict-https
        - LOCAL_PROXY_HOST=arches
        - LOCAL_PROXY_PORT=8000
        - DOMAIN_NAMES=${DOMAIN_NAMES}
        - SCRIPT_SOURCE_ALLOWED_HOSTS=${SCRIPT_SOURCE_ALLOWED_HOSTS}
        - X_FRAME_ALLOWED_HOSTS=${X_FRAME_ALLOWED_HOSTS}
        - PUBLIC_MODE=${PUBLIC_MODE}
        - STATIC_URL=/media
        - TZ=EST
      depends_on:
        - arches

    letsencrypt:
      image: vmeijer/letsencrypt-client:1.1
      restart: always
      volumes:
        - letsencrypt-acme-challenge:/var/www
        - letsencrypt:/etc/letsencrypt
        - letsencrypt-log:/var/log/letsencrypt
      command: get_certificate
      environment:
        - MODE=regular
        - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
        - DOMAIN_NAMES=${DOMAIN_NAMES}
        - PRODUCTION_MODE=True
        - PERSISTENT_MODE=True
        - TZ=EST
      depends_on:
        - nginx

volumes:
    arches-log:
    arches-static:
    letsencrypt:
    letsencrypt-log:
    letsencrypt-acme-challenge: