{% load static %}
<!-- Footer -->
<div class="g-bg-gray-dark-v2 g-color-white g-py-60">
  <div class="container">
	<div class="row">
	  <!-- Footer Content -->
	  <div class="col-lg-6 col-md-12 g-mb-40 g-mb-0--lg">
		<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
		  <h2 class="u-heading-v2__title h5 g-font-weight-600 text-uppercase mb-0">About LCAI</h2>
		</div>
		<p>The Bureau of Land Management administers the Lincoln County Archaeological Initiative (LCAI) to support archaeological projects in Lincoln County and to carry out the archaeological provisions of the Lincoln County Land Act of 2000 (Public Law 106-298) and the Lincoln County Conservation, Recreation, Development Act of 2004 (Public Law 108-424). Projects funded by the LCAI focus on the inventory, evaluation, protection, and management of unique archaeological resources in Lincoln County, NV. Projects must be on public land within Lincoln County and address specific priorities.</p>

		<ul class="list-inline mb-0">
		  <li class="list-inline-item g-mr-10">
			<a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="https://www.facebook.com/BLMNational">
			  <i class="fab fa-facebook-f"></i>
			</a>
		  </li>
		  <li class="list-inline-item g-mr-10">
			<a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="http://www.youtube.com/BLMNational">
			  <i class="fab fa-youtube"></i>
			</a>
		  </li>
		  <li class="list-inline-item g-mr-10">
			<a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="https://twitter.com/BLMNational">
			  <i class="fab fa-twitter"></i>
			</a>
		  </li>
		  <li class="list-inline-item g-mr-10">
			<a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="http://instagram.com/mypubliclands">
			  <i class="fab fa-instagram"></i>
			</a>
		  </li>
		</ul>
	  </div>
	  <!-- End Footer Content -->
	  <!-- Footer Content -->
	  <div class="col-lg-3 col-lg-3 col-md-6">
		<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
		  <h2 class="u-heading-v2__title h5 g-font-weight-600 text-uppercase mb-0">Contact LCAI</h2>
		</div>

		<address class="g-bg-no-repeat g-font-size-12 mb-0">
		  <!-- Location -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-map-marker"></i>
			  </span>
			</div>
			<p class="mb-0">Bristlecone Field Office<br>
			  702 N. Industrial Way<br>
			  Ely, NV 89301
			</p>
		  </div>
		  <!-- End Location -->

		  <!-- Phone -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-phone"></i>
			  </span>
			</div>
			<p class="mb-0">Mindy Seal
			  <br>
			  775-289-1800
			</p>
		  </div>
		  <!-- End Phone -->

		  <!-- Email and Website -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-globe"></i>
			  </span>
			</div>
			<p class="mb-0">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:mseal@blm.gov">mseal@blm.gov</a>
			  <br>
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="https://edit.blm.gov/programs/cultural-heritage-and-paleontology/archaeology/what-we-manage/nevada/lincoln-county-archaeological-initiative" title="Visit the LCAI website">www.blm.gov</a>
			</p>
		  </div>
		  <!-- End Email and Website -->
		</address>
	  </div>
	  <!-- End Footer Content -->
		
	  <!-- Footer Content -->
	  <div class="col-lg-3 col-lg-3 col-md-6">
		<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
		  <h2 class="u-heading-v2__title h5 g-font-weight-600 text-uppercase mb-0">Contact BLM</h2>
		</div>

		<address class="g-bg-no-repeat g-font-size-12 mb-0">
		  <!-- Location -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-map-marker"></i>
			  </span>
			</div>
			<p class="mb-0">Caliente Field Office<br>
				1400 S. Front Street<br>
				Caliente, NV 89008
			</p>
		  </div>
		  <!-- End Location -->

		  <!-- Phone -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-phone"></i>
			  </span>
			</div>
			<p class="mb-0">First Last
			  <br>
			  775-726-8100
			</p>
		  </div>
		  <!-- End Phone -->

		  <!-- Email and Website -->
		  <div class="d-flex g-mb-20">
			<div class="g-mr-10">
			  <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
				<i class="fa fa-globe"></i>
			  </span>
			</div>
			<p class="mb-0">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:#">placeholder@domain.gov</a>
			  <br>
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="https://www.blm.gov/" title="Visit the BLM Website">www.blm.gov</a>
			</p>
		  </div>
		  <!-- End Email and Website -->
		</address>
	  </div>
	  <!-- End Footer Content -->
	</div>
	<div class="row g-mt-40">
 	  <!-- Footer Content -->
	  <div class="col-lg-6 col-md-12 g-mb-40 g-mb-40 g-mb-0--lg">
		<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
		  <h2 class="u-heading-v2__title h5 g-font-weight-600 text-uppercase mb-0">Project Partners</h2>
		</div>
		<p>Vestibulum vulputate maximus justo lobortis ultrices. Nam quis nisi id leo rutrum sollicitudin. Duis et malesuada mauris. Proin scelerisque odio et hendrerit egestas. Aenean at libero libero. Nunc condimentum metus urna, vel cursus dui gravida nec. Cras quis massa ut metus finibus rutrum.</p>
	  </div>
	  <!-- End Footer Content -->		  
	  <!-- Footer Content -->
		<div class="col-lg-3 col-lg-3 col-md-6">
			<a href="#" title="Visit Company Name Website" target="_blank"><img class="img-fluid g-mb-30" src="//via.placeholder.com/400x100" alt="company logo 1"></a>
     		<a href="#" title="Visit Company Name Website" target="_blank"><img class="img-fluid g-mb-30" src="//via.placeholder.com/400x100" alt="company logo 1"></a>
		</div>	
	  <!-- End Footer Content -->		  
	  <!-- Footer Content -->
		<div class="col-lg-3 col-lg-3 col-md-6">
			<a href="#" title="Visit Company Name Website" target="_blank"><img class="img-fluid g-mb-30" src="//via.placeholder.com/400x100" alt="company logo 1"></a>
     		<a href="#" title="Visit Company Name Website" target="_blank"><img class="img-fluid g-mb-30" src="//via.placeholder.com/400x100" alt="company logo 1"></a>
		</div>	
	  <!-- End Footer Content -->		  
		
	</div>
  </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
	<div class="row">
	  <div class="col-md-8 align-self-center text-center text-md-left g-mb-10 g-mb-0--md">
		<div class="d-lg-flex">
		  <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 © All Rights Reserved.</small>
		  <ul class="u-list-inline">
			<li class="list-inline-item">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Privacy Policy</a>
			</li>
			<li class="list-inline-item">
			  <span>|</span>
			</li>
			<li class="list-inline-item">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Terms of Use</a>
			</li>
			<li class="list-inline-item">
			  <span>|</span>
			</li>
			<li class="list-inline-item">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">License</a>
			</li>
			<li class="list-inline-item">
			  <span>|</span>
			</li>
			<li class="list-inline-item">
			  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Support</a>
			</li>
		  </ul>
		</div>
	  </div>

	  <div class="col-md-4 align-self-center">
		<a class="d-block text-center text-md-right" href="index.html">
		  <img class="img-fluid" src="{% static 'img/logos/blm_ncl_logo.png' %}" alt="Logo">
		</a>
	  </div>
	</div>
  </div>
</footer>
<!-- End Copyright Footer -->


