{% load i18n %}
{% load static %}
<!-- Process -->
<section id="process" style="background-image: url('{% static "img/background/topo1000_15.png" %}');">
	<a name="process"></a> 
	<div class="shortcode-html">
	  <!-- Timeline #02 -->
	  <section class="g-py-100">
		<div class="container">
		  <header class="g-mb-35">
			<div class="g-mb-30">
			  <span class="d-block g-color-primary g-font-weight-700 g-font-size-default text-uppercase g-mb-15">{% trans "Our Process" %}</span>
			  <h2 class="h2 g-color-black g-font-weight-700 mb-0">{% trans "How 3D Scanning and Visualization Works" %}</h2>
			</div>
			<div class="g-brd-bottom g-brd-6 g-brd-primary"></div>
		  </header>

		  <!-- Timeline Box -->
		  <ul class="row u-timeline-v2-wrap list-unstyled">
			<li class="col-md-12 g-mb-40">
			  <div class="row">
				<!-- Timeline Date -->
				<div class="col-md-3 text-md-right g-pt-30--md g-pr-40--md g-mb-20">
				  <h4 class="text-uppercase g-font-weight-700">{% trans "Step One" %}</h4>
				</div>
				<!-- End Timeline Date -->

				<!-- Timeline Content -->
				<div class="col-md-9 g-orientation-left g-pl-40--md">
				  <!-- Timeline Dot -->
				  <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
					<i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-black rounded-circle"></i>
				  </div>
				  <!-- End Timeline Dot -->

				  <article class="g-pos-rel g-bg-black g-pa-30">
					<!-- Timeline Arrow -->
					<div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--right__back g-brd-black-right"></div>
					</div>
					<div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--top__back g-brd-black-bottom"></div>
					</div>
					<!-- End Timeline Arrow -->

					<header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
					  <h3 class="g-font-weight-300 g-color-white">{% trans "Data Collection" %}</h3>
					</header>

					<div class="row">
					  <div class="col-md-4 g-mb-20 g-mb-0--md">
						<img class="img-fluid w-100" src="{% static 'img/photos/process/stepone.jpg' %}" alt="Image description">
					  </div>
					  <div class="col-md-8 g-color-white">
						<p>{% trans "Vivamus ultricies urna nec condimentum consectetur. Vivamus ac varius nisl. Proin luctus luctus ligula. Donec at hendrerit ex. Vivamus euismod maximus nunc venenatis ultricies." %}</p>
						<p class="mb-0">{% trans "Duis ut dignissim eros. Nulla risus risus, auctor sit amet euismod at, tincidunt hendrerit turpis. Donec ut diam at lectus pulvinar tincidunt in quis ipsum." %} </p>
					  </div>
					</div>
				  </article>
				</div>
				<!-- End Timeline Content -->
			  </div>
			</li>

			<li class="col-md-12 g-mb-40">
			  <div class="row">
				<!-- Timeline Date -->
				<div class="col-md-3 text-md-right g-pt-30--md g-pr-40--md g-mb-20">
				  <h4 class="text-uppercase g-font-weight-700">{% trans "Step Two" %}</h4>
				</div>
				<!-- End Timeline Date -->

				<!-- Timeline Content -->
				<div class="col-md-9 g-orientation-left g-pl-40--md">
				  <!-- Timeline Dot -->
				  <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
					<i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-black rounded-circle"></i>
				  </div>
				  <!-- End Timeline Dot -->

				  <article class="g-pos-rel g-bg-black g-pa-30">
					<!-- Timeline Arrow -->
					<div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--right__back g-brd-black-right"></div>
					</div>
					<div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--top__back g-brd-black-bottom"></div>
					</div>
					<!-- End Timeline Arrow -->

					<header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
					  <h3 class="g-font-weight-300 g-color-white">{% trans "Digital Modeling" %}</h3>
					</header>

					<div class="row">
					  <div class="col-md-4 g-mb-20 g-mb-0--md">
						<img class="img-fluid w-100" src="//via.placeholder.com/400x270" alt="Image description">
					  </div>
					  <div class="col-md-8 g-color-white">
						<p>{% trans "Vivamus ultricies urna nec condimentum consectetur. Vivamus ac varius nisl. Proin luctus luctus ligula. Donec at hendrerit ex. Vivamus euismod maximus nunc venenatis ultricies." %}</p>
						<p class="mb-0">{% trans "Duis ut dignissim eros. Nulla risus risus, auctor sit amet euismod at, tincidunt hendrerit turpis. Donec ut diam at lectus pulvinar tincidunt in quis ipsum." %}</p>
					  </div>
					</div>
				  </article>
				</div>
				<!-- End Timeline Content -->
			  </div>
			</li>
			<li class="col-md-12 g-mb-40">
			  <div class="row">
				<!-- Timeline Date -->
				<div class="col-md-3 text-md-right g-pt-30--md g-pr-40--md g-mb-20">
				  <h4 class="text-uppercase g-font-weight-700">{% trans "Step Three" %}</h4>
				</div>
				<!-- End Timeline Date -->

				<!-- Timeline Content -->
				<div class="col-md-9 g-orientation-left g-pl-40--md">
				  <!-- Timeline Dot -->
				  <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
					<i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-black rounded-circle"></i>
				  </div>
				  <!-- End Timeline Dot -->

				  <article class="g-pos-rel g-bg-black g-pa-30">
					<!-- Timeline Arrow -->
					<div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--right__back g-brd-black-right"></div>
					</div>
					<div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
					  <div class="u-triangle-inclusive-v1--top__back g-brd-black-bottom"></div>
					</div>
					<!-- End Timeline Arrow -->

					<header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
					  <h3 class="g-font-weight-300 g-color-white">{% trans "Reverse Engineering" %}</h3>
					</header>

					<div class="row">
					  <div class="col-md-4 g-mb-20 g-mb-0--md">
						<img class="img-fluid w-100" src="//via.placeholder.com/400x270" alt="Image description">
					  </div>
					  <div class="col-md-8 g-color-white">
						<p>{% trans "Vivamus ultricies urna nec condimentum consectetur. Vivamus ac varius nisl. Proin luctus luctus ligula. Donec at hendrerit ex. Vivamus euismod maximus nunc venenatis ultricies." %}</p>
						<p class="mb-0">{% trans "Duis ut dignissim eros. Nulla risus risus, auctor sit amet euismod at, tincidunt hendrerit turpis. Donec ut diam at lectus pulvinar tincidunt in quis ipsum." %}</p>
					  </div>
					</div>
				  </article>
				</div>
				<!-- End Timeline Content -->
			  </div>
			</li>

		  </ul>
		  <!-- End Timeline Box -->
		</div>
	  </section>
	  <!-- End Timeline #02 -->
	</div>
      
</section>          
<!-- End Process -->