{% load i18n %}
{% load staticfiles %}

<section class="container g-pt-100 g-pb-70">
  <div class="row align-items-center" id="gallery_header">
    <div class="col-md-6 g-mb-30">
      <div class="g-mb-10">
        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">{% trans "Recent Models" %}</h2>
      </div>

      <p class="lead">{% trans "Here is a selection of our most recently published 3D models. Please visit our Sketchfab page to see more of our work." %}</p>
      <div style="min-height: 100px;">
      <p class="lead">
        <a href="https://sketchfab.com/globaldigitalheritage" class="btn btn-lg" style='background-color:#1CAAD9; color: white;'><i class="socicon-sketchfab"></i> Visit us on Sketchfab</a>
      </p>
      </div>
    </div>
    <div class="col-md-6 g-mb-30">
      <div class="g-mb-10">
        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">{% trans "We're Social" %}</h2>
      </div>

      <p class="lead">{% trans "Facebook is the best place to get recent news and follow when we're working on projects in the field, or processing data back in the lab." %}</p>
      <div class="fb-page" data-href="https://www.facebook.com/globaldigitalheritage/" data-small-header="false"
data-adapt-container-width="true" data-hide-cover="false" data-height="100" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/globaldigitalheritage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/globaldigitalheritage/">Global
            Digital Heritage</a></blockquote>
      </div>
    </div>
  </div>
  <div class="row align-items-center" id="gallery">
  </div>
  </div>
</section>