.report-media-wrapper {
    border-bottom: 1px solid #ddd;
}

.report-render-area {
    height: 685px;
    width: 100%;
}

.fullscreen-button {
    margin: 8px 8px;
    background: none;
    width: 2.5em;
    height: 2.5em;
    z-index: 100;
    cursor: pointer;
}

.report-metadata-section {
    margin-top: 100px;
}

#report-body-toggle-button {
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}