<div class="container g-pt-50">
  <div class="g-max-width-600 text-center mx-auto g-mb-30">
<h2 class="g-color-black g-font-weight-600 g-font-size-40 mb-1">Scientific Advisory Board</h2>
  <ul class="list-group list-group-flush">
<li class="list-group-item">Dr. Laurent Costa, CNRS, France</li>
<li class="list-group-item">Diego Lucendo Díaz, Baraka S.L., Spain</li>
<li class="list-group-item">Dr. Pierre-Yves Gagnier, Muséum national d'histoire naturelle à Paris, France</li>
<li class="list-group-item">Tomás Torres González, Baraka S.L., Spain</li>
<li class="list-group-item">Miguel Torres Mas, Council town of Daimiel, Spain</li>
<li class="list-group-item">Dr. Jorge Onrubia Pintado, University of Castilla-La Mancha, Spain
</li>
<li class="list-group-item">Ángel Marchante Ortega, University of Las Palmas de Gran Canaria, Spain
</li>

  </ul>
  </div>
</div>