<div class="container g-pt-50">
  <div class="g-max-width-1000 text-center mx-auto g-mb-30">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="http://www.latribunadeciudadreal.es/noticia/Z1C5E946D-9751-9676-CBCF4F3712453364/Global-Digital-Heritage-recupera-en-3D-la-antigua-carcel">Global Digital Heritage recupera en 3D la antigua cárcel</a>
      </li>
      <li class="list-group-item">
      <a href="http://www.latribunadeciudadreal.es/Noticia/ZB96A98BD-0CFC-2ACE-8776B7ABA20FDB4B/Daimiel-recibe-la-reconstruccion-digital-de-la-Motilla">Daimiel
        recibe la reconstrucción digital de la Motilla</a>
      </li>
<li class="list-group-item">
<a href="https://www.laopiniondemurcia.es/comunidad/2018/02/15/tecnologia-punta-clonar-patrimonio/898206.html">Tecnología
  punta para 'clonar' el patrimonio murciano</a>
</li>
<li class="list-group-item">
<a href="https://www.lanzadigital.com/provincia/daimiel/la-motilla-del-azuer-como-nunca-se-ha-visto/">La Motilla del
  Azuer, como nunca se ha visto</a>
</li>
<li class="list-group-item">
<a href="http://www.eladelantado.com/provincia-de-segovia/convento-la-hoz-avanza-hacia-reconstruccion-virtual/">El
  Convento de la Hoz avanza hacia su 'reconstrucción virtual'</a>
</li>
<li class="list-group-item">
<a href="https://www.lanzadigital.com/cultura/lopez-menchero-las-nuevas-tecnologias-revulsivo-la-difusion-del-patrimonio-cultural/">López-Menchero:
  “Las nuevas tecnologías son un revulsivo en la difusión del patrimonio cultural”</a>
</li>
<li class="list-group-item">
<a href="https://www.laopiniondemurcia.es/municipios/2018/02/04/castillo-tres-dimensiones/895328.html">Un castillo en
  tres dimensiones</a>
</li>
<li class="list-group-item">
<a href="https://www.elnortedecastilla.es/segovia/convento-senora-resucitara-20181026115510-nt.html">El Convento de
  Nuestra Señora de la Hoz 'resucitará' en 3D</a>
</li>
<li class="list-group-item">
<a href="https://www.lacronica.net/los-grabados-de-la-cueva-de-los-casares-ya-estan-salvados-78223.htm">Los grabados de
  la Cueva de los Casares ya están salvados para la posteridad ¡y gratis!
</a>
</li>
<li class="list-group-item">
<a href="https://www.laverdad.es/culturas/tecnologia-punta-documentar-20180215012014-ntvo.html">Tecnología punta para
  documentar doce yacimientos y monumentos de la Región
</a>
</li>
<li class="list-group-item">
<a href="https://www.lanzadigital.com/cultura/los-alumnos-del-conservatorio-musicalizaran-obras-arte-la-merced-museo-ciudad-real/">Los
  alumnos del Conservatorio musicalizarán obras de arte de la Merced y el Museo de Ciudad Real
</a>
</li>
<li class="list-group-item">
<a href="https://www.laverdad.es/murcia/otros-municipios/apuntalan-torres-muralla-20180220010306-ntvo.html">Apuntalan
  una de las torres de la muralla del castillo de Mula</a>
</li>
<li class="list-group-item">
<a href="http://henaresaldia.com/los-casares-cuando-la-arqueologia-esta-actualidad/">Los Casares: cuando la arqueología
  está de actualidad</a>
</li>
      
    </ul>
  </div>
</div>